.about {
    background-image: url(../../assets/cerebro-papel-burbujas-chat.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    .aboutme-container {
        backdrop-filter: blur(4px);
        background-color: rgba(255, 255, 255, 0.45);
        
    }

    .about-experience-container {
        display: grid;
        height: 800px;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas: "about-experience-text about-experience-people";
        backdrop-filter: blur(4px);
        background-color: rgba(255, 255, 255, 0.45);
      }
      
      .about-experience-text {
        display: grid;
        grid-template-columns: 75%;
        grid-template-rows: 55%;
        gap: 0px 0px;
        grid-auto-flow: row;
        justify-content: center;
        align-content: center;
        grid-template-areas: ".";
        grid-area: about-experience-text;
        .texto {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }
      
      .about-experience-people {
        display: grid;
        grid-template-columns: 40% 40%;
        grid-template-rows: 30% 30%;
        gap: 25px 25px;
        grid-auto-flow: row;
        justify-content: center;
        align-content: center;
        grid-template-areas: "about-card-1 about-card-2" "about-card-3 .";
        grid-area: about-experience-people;
      }
      
      .about-card-1 {
        grid-area: about-card-1;
        display: flex;
        flex-direction: column;
        align-items: center;
        backdrop-filter: blur(10px);
        background-color: rgba(18, 241, 212, 0.25);
      }
      
      .about-card-2 {
        grid-area: about-card-2;
        display: flex;
        flex-direction: column;
        align-items: center;
        backdrop-filter: blur(10px);
        background-color: rgba(18, 241, 212, 0.25);
      }
      
      .about-card-3 {
        grid-area: about-card-3;
        display: flex;
        flex-direction: column;
        align-items: center;
        backdrop-filter: blur(10px);
        background-color: rgba(18, 241, 212, 0.25);
      }
    
      @media (max-width: 720px) {
        .about-experience-container {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 50% 50%;
            gap: 0px 0px;
            grid-auto-flow: row;
            grid-template-areas: "about-experience-text" "about-experience-people";
          }
          
          .about-experience-text {
            display: grid;
            grid-template-columns: 75%;
            grid-template-rows: 50%;
            gap: 0px 0px;
            grid-auto-flow: row;
            justify-content: center;
            align-content: center;
            grid-template-areas: ".";
            grid-area: about-experience-text;
            
          }
          
          .about-experience-people {
            display: grid;
            grid-template-columns: 25% 25% 25%;
            grid-template-rows: 50%;
            gap: 0px 20px;
            grid-auto-flow: row;
            justify-content: center;
            align-content: center;
            grid-template-areas: "about-card-1 about-card-2 about-card-3";
            grid-area: about-experience-people;
          }
          
          .about-card-1 {
            grid-area: about-card-1;
          }
          
          .about-card-2 {
            grid-area: about-card-2;
          }
          
          .about-card-3 {
            grid-area: about-card-3;
          }
    }
}





.flip-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    
    .card-container {
        position: relative;
        width: 75%;
        height: 75%;
        text-align: center;
        transition: transform 0.5s;
        transform-style: preserve-3d;
        
    }
}

.flip-container:hover .card-container {
    transform: rotateY(180deg);
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    border-radius: 25px;
}

.front {
    background-color: rgba(128, 148, 148, 0.87);
    p {
        color: white;
        text-shadow: -1px 2px 21px rgba(243,239,239,1);
    }
    
    
}
.back {
    background-color: rgba(247, 113, 24, 0.349);
    color: white;
    transform: rotateY(180deg);
}


.about-card-container {
    backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0.45);
}


.card-container-items {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.about-focus-container {
    backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0.45);
}

