.about-container {
    background-image: url(../../assets/cerebro-papel-burbujas-chat.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 1000PX;
    img {
        width: 20%;
        height: 40%;
    }
}