
.contact-section {
    background-image: url(../../assets/contact.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

}

.container-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        backdrop-filter: blur(2px);
        background-color: rgba(255, 255, 255, 0.25);
        border-radius: 25px;
        
    }
    form {
        backdrop-filter: blur(2px);
        background-color: rgba(255, 255, 255, 0.25);
        border-radius: 25px;
    }
    
}

.form-button {
    border: transparent;
    border-radius: 25px;
    
}